<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- Tabla de empresas -->
            <div class="card-body">
                <h4 class="card-title"> Empresas </h4>
                <button data-toggle="modal" data-target="#modal_empresa" type="button" class="btn waves-effect waves-light btn-outline-info pull-right">Añadir Empresa</button>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Industria</th>
                                <th>Cargos</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let empresa of data">
                                <td>{{ empresa.nombre }}</td>
                                <td>{{ empresa.industria }}</td>
                                <td>
                                    <button type="button" class="btn waves-effect waves-light btn-sm btn-info" (click)="ver_cargos(empresa.id)">Ver Cargos</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm waves-effect waves-light btn-warning" data-toggle="modal" data-target="#modal_empresa_modificar" (click)="ver_emp(empresa)"><i class="fa fa-pencil"></i></button>
                                    <button type="button" class="btn btn-sm waves-effect waves-light btn-danger"><i class="fa fa-trash" (click)="eliminar_empresa(empresa.id)" ></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- FIN Tabla de empresas -->
            <!-- Tabla de cargos -->
            <div class="card-body">
                <h4 class="card-title"> Cargos </h4>
                <button data-toggle="modal" data-target="#modal_cargos" type="button" class="btn waves-effect waves-light btn-outline-info pull-right">Añadir Cargo</button>
                <button (click)="volver_empresas()" type="button" class="btn waves-effect waves-light btn-outline-info pull-right">Volver</button>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha de Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Responsabilidades</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cargo of data_cargo">
                                <td>{{ cargo.nombre }}</td>
                                <td>{{ cargo.fecha_inicio }}</td>
                                <td>{{ cargo.fecha_fin }}</td>
                                <td>
                                    <button type="button" class="btn waves-effect waves-light btn-sm btn-info" (click)="ver_respon(cargo.id)">Ver Responsabilidades</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm waves-effect waves-light btn-warning" data-toggle="modal" data-target="#modal_cargos_modificar" (click)="ver_cargo(cargo)"><i class="fa fa-pencil"></i></button>
                                    <button type="button" class="btn btn-sm waves-effect waves-light btn-danger"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- FIN Tabla de cargos -->
            <!-- Tabla de responsabilidades -->
            <div class="card-body">

                <h4 class="card-title"> Responsabilidades </h4>
                <button data-toggle="modal" data-target="#modal_empresa" type="button" class="btn waves-effect waves-light btn-outline-info pull-right">Añadir Responsabilidad</button>
                <button (click)="volver_cargos()" type="button" class="btn waves-effect waves-light btn-outline-info pull-right">Volver</button>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let respo of modelo_respo">
                                <td>{{ respo.descripcion }}</td>
                                <td>
                                    <button type="button" class="btn btn-sm waves-effect waves-light btn-warning"><i class="fa fa-pencil"></i></button>
                                    <button type="button" class="btn btn-sm waves-effect waves-light btn-danger"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- FIN Tabla de responsabilidades -->
        </div>
    </div>
    <!-- Nueva Empresa -->
    <div id="modal_empresa" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Nueva Empresa</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form [formGroup]="forma" (ngSubmit)="ingresar_empresa()">
                    <div class="modal-body">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">

                                    <div class="form-group">
                                        <label>Nombre de la Empresa</label>
                                        <input formControlName="nombre" name="nombre" type="text" class="form-control" placeholder="Ej: VMCA" name="nombre_emp" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Industria</label>
                                        <input formControlName="industria" name="industria" type="text" class="form-control" placeholder="Ej: Eléctrica" name="industria_emp" required>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Guardar</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- FIN Nueva Empresa -->
    <!-- Nuevo Cargo -->
    <div id="modal_cargos" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Nuevo Cargo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form [formGroup]="forma_cargo" (ngSubmit)="ingresar_cargo()">
                    <div class="modal-body">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">

                                    <div class="form-group">
                                        <label>Nombre del Cargo</label>
                                        <input type="text" class="form-control" formControlName="cargo" name="cargo" placeholder="Consulto Abap">
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha de Inicio</label>
                                        <input type="text" class="form-control mydatepicker" formControlName="fecha_inicio" placeholder="mm/dd/aaaa" name="fecha_inicio">
                                    </div>

                                    <div class="form-group">
                                        <label>Fecha Fin</label>
                                        <input type="text" class="form-control mydatepicker" formControlName="fecha_fin" placeholder="mm/dd/aaaa" name="fecha_fin">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Guardar</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- FIN Nuevo Cargo -->
    <!-- Modificar Empresa -->
    <div id="modal_empresa_modificar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Modificar Empresa</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form [formGroup]="forma_mod" (ngSubmit)="modificar_empresa()">
                    <div class="modal-body">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">

                                    <div class="form-group">
                                        <label>Nombre de la Empresa</label>
                                        <input type="text" class="form-control" formControlName="nombre_mod" name="nombre_mod" [(ngModel)]="empresa_seleccionada.nombre" placeholder="Ej: VMCA" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Industria</label>
                                        <input type="text" class="form-control" formControlName="industria_mod" name="industria_mod" [(ngModel)]="empresa_seleccionada.industria" placeholder="Ej: Eléctrica" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Guardar</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modificar Cargo -->
    <div id="modal_cargos_modificar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Nuevo Cargo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form [formGroup]="forma_cargo_mod" (ngSubmit)="modificar_cargo()">
                    <div class="modal-body">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">

                                    <div class="form-group">
                                        <label>Nombre del Cargo</label>
                                        <input type="text" class="form-control" formControlName="cargo_mod" name="cargo_mod" placeholder="Consulto Abap">
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha de Inicio</label>
                                        <input type="text" class="form-control mydatepicker" formControlName="fecha_inicio_mod" placeholder="mm/dd/aaaa" name="fecha_inicio_mod">
                                    </div>

                                    <div class="form-group">
                                        <label>Fecha Fin</label>
                                        <input type="text" class="form-control mydatepicker" formControlName="fecha_fin_mod" placeholder="mm/dd/aaaa" name="fecha_fin_mod">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Guardar</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- FIN Modificar Cargo -->
</div>