<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="m-t-30 text-center"> <img src="assets/assets/images/users/5.jpg" class="img-circle" width="150" />
                    <h4 class="card-title m-t-10">{{ usuario.nombres }}</h4>
                    <h4 class="card-title m-t-10">{{ usuario.apellidos }}</h4>
                </div>
                <h3 class="text-center"><small>{{ usuario.cargo }}</small></h3>
            </div>
            <div>
                <hr> </div>
            <div class="card-body"> <small class="text-muted">Correo electrónico </small>
                <h6>{{ usuario.correo}}</h6> <small class="text-muted p-t-30 db">Celular</small>
                <h6>{{ usuario.celular }}</h6> <small class="text-muted p-t-30 db">Dirección</small>
                <h6>{{ usuario.direccion }}</h6>
                <small class="text-muted p-t-30 db">Redes Sociales</small>
                <br/>
                <button class="btn btn-circle btn-secondary"><i class="fa fa-linkedin"></i></button>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Datos Personales</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Información Laboral</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Modulos</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="card-body">
                        <form class=" form-horizontal form-material" ngNativeValidate name="datospersonales" #datospersonales="ngForm" (ngSubmit)="modificar(datospersonales)">
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Nombres</label>
                                        <input type="text" name="nombres" class="form-control" required [(ngModel)]="usuario.nombres" placeholder="Pedro" name="nombres">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Apellidos</label>
                                        <input type="text" name="apellidos" class="form-control" required [(ngModel)]="usuario.apellidos" placeholder="Pérez" name="apellidos">
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Celular</label>
                                        <input type="text" class="form-control" [(ngModel)]="usuario.celular" placeholder="+56 9 xxxx xxxx" name="celular">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">RUT</label>
                                        <input type="text" name="rut" class="form-control" [(ngModel)]="usuario.rut" required placeholder="xx.xxx.xxx-y" name="rut">
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Correo Personal</label>
                                        <input type="email" class="form-control" [(ngModel)]="usuario.correo_personal" name="correo_personal">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" id="ocultar">Fecha de Nacimiento</label>
                                        <input type="text" class="form-control mydatepicker" placeholder="mm/dd/aaaa" name="fecha_nac">
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" id="ocultar">País de Origen</label>
                                        <input type="text" class="form-control" [(ngModel)]="usuario.pais_origen" name="pais_origen">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" id="ocultar">País de Residencia</label>
                                        <input type="text" class="form-control" [(ngModel)]="usuario.pais_residencia" name="pais_residencia">
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Dirección de residencia - Comuna</label>
                                        <input type="text" class="form-control" [(ngModel)]="usuario.direccion" placeholder="Providencia 1208 Of 1108 - Providencia" name="direccion">
                                    </div>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light btn-success" type="submit">Actualizar Datos</button>
                        </form>
                    </div>

                </div>
                <!--second tab-->
                <div class="tab-pane" id="profile" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-xs-6 b-r"> <strong>Cargo</strong>
                                <br>
                                <p class="text-muted">{{ usuario.cargo }}</p>
                            </div>
                            <div class="col-md-4 col-xs-6 b-r"> <strong>Rol del sistema</strong>
                                <br>
                                <p class="text-muted">{{ usuario.id_rol }}</p>
                            </div>
                            <div class="col-md-4 col-xs-6"> <strong>Fecha Vinculación</strong>
                                <br>
                                <p class="text-muted">{{ usuario.fecha_vinculacion }}</p>
                            </div>
                        </div>

                        <hr>
                        <p class="m-t-30">
                            El perfil profesional será utilizado para la generación automática del curriculum de cada uno de los empleados
                            <br> Por favor ser lo mas específico posible ya que no hay límite de caracteres
                        </p>


                        <form class=" form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12">Perfil Profesional</label>
                                <div class="col-md-12">
                                    <textarea rows="5" ngModel name="perfil" class="form-control form-control-line"></textarea>
                                </div>
                                <button class="btn waves-effect waves-light btn-success" type="submit">Actualizar Perfil</button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class=" tab-pane " id="settings " role="tabpanel ">
                    <div class="card-body ">
                        <form class="form-horizontal form-material ">
                            <div class="form-group ">
                                <label class="col-md-12 ">Full Name</label>
                                <div class="col-md-12 ">
                                    <input type="text " placeholder="Johnathan Doe " class="form-control form-control-line ">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="example-email " class="col-md-12 ">Email</label>
                                <div class="col-md-12 ">
                                    <input type="email " placeholder="johnathan@admin.com " class="form-control form-control-line " name="example-email " id="example-email ">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-12 ">Password</label>
                                <div class="col-md-12 ">
                                    <input type="password " value="password " class="form-control form-control-line ">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-12 ">Phone No</label>
                                <div class="col-md-12 ">
                                    <input type="text " placeholder="123 456 7890 " class="form-control form-control-line ">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-12 ">Message</label>
                                <div class="col-md-12 ">
                                    <textarea rows="5 " class="form-control form-control-line "></textarea>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-12 ">Select Country</label>
                                <div class="col-sm-12 ">
                                    <select class="form-control form-control-line ">
                                          <option>London</option>
                                          <option>India</option>
                                          <option>Usa</option>
                                          <option>Canada</option>
                                          <option>Thailand</option>
                                      </select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-sm-12 ">
                                    <button class="btn btn-success ">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>