<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form ngNativeValidate #f="ngForm" class="form-horizontal" (ngSubmit)="crear_usuario( f )">
                    <div class="form-body">
                        <h3 class="card-title">Información Personal</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nombres</label>
                                    <input type="text" class="form-control" ngModel name="nombres" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Apellidos</label>
                                    <input type="text" class="form-control" ngModel name="apellidos" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Correo Personal</label>
                                    <input type="email" class="form-control" ngModel name="correo_personal">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Fecha de Nacimiento</label>
                                    <input type="date" class="form-control" placeholder="dd/mm/aaaa" ngModel name="fecha_nacimiento">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">RUT</label>
                                    <input type="text" class="form-control" placeholder="XX.XXX.XXX-Y" ngModel name="rut" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Celular</label>
                                    <input type="text" class="form-control" placeholder="+56 9 XXXX XXXX" ngModel name="celular">
                                </div>
                            </div>
                        </div>
                        <h3 class="box-title m-t-40">Información Laboral</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Cargo</label>
                                    <input type="text" class="form-control" ngModel name="cargo" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Fecha de Vinculación</label>
                                    <input type="date" class="form-control" placeholder="dd/mm/aaaa" ngModel name="fecha_vinculacion" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Correo VMCA</label>
                                    <input type="email" class="form-control" ngModel name="correo" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Rol del Sistema</label>
                                    <select class="form-control custom-select" ngModel name="id_rol" required>
                                        <option *ngFor="let rol of roles" [value]="rol.id">{{rol.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>
                        <button type="button" class="btn btn-inverse">Volver</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>