<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="assets/assets/images/users/profile.png" alt="user" /><span class="hide-menu"> {{ usuario.nombres }} </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/perfil" routerLinkActive="active">Mi Perfil </a></li>
                        <li><a routerLink="/educacion" routerLinkActive="active">Mi educación</a></li>
                        <li><a routerLink="/experiencia" routerLinkActive="active">Mi experiencia</a></li>
                        <li><a class="cursor" (click)="_us.cerrar_sesion()">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <!-- Menu autogenerado -->
                <li *ngFor="let side of _ss.modelo_sidebar">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i [class]="side.imagen"></i>
                        <span class="hide-menu">{{ side.nombre }}</span>
                    </a>
                    <ul aria-expanded="false" class="collapse" *ngFor="let subside of side.hijos">
                        <li>
                            <a [routerLink]="subside.url">{{ subside.nombre }} </a>
                        </li>
                    </ul>
                </li>
                <!-- FIN Menu autogenerado -->
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>